.home {
  position: fixed;
  left: 45%;
  padding: 5px 25px;
  font-size: 25px;
  border-radius: 0px 5px;
}
.hire {
  position: fixed;
  left: 45%;
  bottom: 0px;
  padding: 5px 25px;
  font-size: 25px;
  border-radius: 0px 5px;
}

.home:hover {
  background-color: rgba(36, 45, 37, 0.3);
}
.hire:hover {
  background-color: rgba(36, 45, 37, 0.3);
}
.work {
  position: fixed;
  right: -35px;
  top: 50%;
  padding: 5px 25px;
  font-size: 25px;
  border-radius: 0px 5px;
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
  /* Opera */
  -o-transform: rotate(-90deg);
}
.work:hover {
  background-color: rgba(36, 45, 37, 0.3);
}
.skill {
  position: fixed;
  left: -30px;
  top: 50%;
  padding: 5px 25px;
  font-size: 25px;
  border-radius: 0px 5px;
  transform: rotate(90deg);
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
}
.skill:hover {
  background-color: rgba(36, 45, 37, 0.3);
}
@media only screen and (max-width: 600px) {
  .home {
    left: 35%;
  }
  .hire {
    left: 33%;
  }
}